.profilebox, .specprofilebox, .seeallprofilebox, .approverprofilebox {
	border: 1px solid #999999;
	padding: 10px;
	width: 800px;
	margin-bottom:15px;
}

.profilebox { background-color: #E2E9EB; }
.specprofilebox { background-color: #C6CCE8; }
.seeallprofilebox { background-color: #F0D7B0; }
.approverprofilebox { background-color: #C5ECD1; }

.profileimg {
	float:left;
}

.profiletxt {
	margin-left:140px;
}

.profilename {
 	font-size:1.2em;
	font-weight:bold;
	display:block;
}

.profiletitle {
	font-size:1em;
	font-weight:bold;
	display:block;
}
.seeallprofilebox .profiletitle { color:#993300; }
.approverprofilebox .profiletitle { color:#006611; }
.specprofilebox .profiletitle { color:#112299; }

.profilesect {
	font-size:1em;
	color:#000066;
	display:block;
	margin-top:7px;
}

.profilecontact {
	font-size:0.8em;
	color:#999999;
	display:block;
}

.profilefooter {
	clear:both;
}
