/* vim:set ts=4 sw=4 sts=4 et: */
html {
    margin:0;
    padding:0;
    height:100%;
}

body {
    text-align: left;
    font-family: calibri, 'lucida grande', tahoma, helvetica, arial, verdana, sans-serif;
    color: #000000;
    background-color: #ffffff;
    margin: 0px 40px 0px 50px;
    padding: 0;
    height: 100%;
}

#header { margin-top: 10px; }
h1 { margin: 0; }
#top { vertical-align: middle; }
#titlediv { text-align:left; vertical-align:top; }
#logindiv { text-align:right; vertical-align:bottom; font-size: 110%; }
#logindiv a {
    padding: 0 0.5em;
    margin-left: 0.5em;
    background-color: #eee;
    border-radius: 0.5em 0.5em 0 0;
}
#logindiv a:link, #logindiv a:visited { color: black; }
#logindiv a:hover { color: red; background-color: #fafafa; }
#logindiv a.accsel {
    color: black;
    text-decoration: none;
    background-color: #ced;
    background: linear-gradient(to bottom, #acb, #ced);
}
.notloggedin { color: #666; font-style: italic; }
#countdowndiv { text-align:right; vertical-align:top; }
#countdown { margin-top: 0; font-size: 108%; }
.cdnum { color: red; font-weight: bold; }
.cunum { color: #0c0; font-weight: bold; }
.clear { clear: both; }

#navbar {
    float:left;
    width:100%;
    background-color: #eee;
    background: linear-gradient(to bottom, #eee, #ddd);
    border-radius: 0.7em 0 0 0;
}

#container {
    min-height: 100%;
    position: relative;
    background-color: #ffffff;
}

#body {
    padding-top: 1em;
    padding-bottom: 75px;
}

#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 75px;
}

.red { color:#FF0000; }

h2 { margin: 0.3em 0; }

h3, table { margin: 0; }

table {
    border-style: none;
    border-collapse: collapse;
}

td {
    border-style: none;
    vertical-align: top;
}

ul.nav {
    display:block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
}

li.nav {
    float: left;
    display:block;
    list-style-type: none;
    text-align: left;
}

a.nav {
    display: block;
    padding: 5px 12px;
    font-size: 1.2em;
}

a.nav:link {color:#000000;}
a.nav:visited {color:#000000;}
a.nav:hover {
    color: #d00;
    background-color: #fafafa;
    background: linear-gradient(to bottom, #fafafa, #eaeaea);
}
a.nav:active {color:#000000;}

a.wikinav { border-radius: 0.7em 0 0 0; }
a.wikinav:link, a.wikinav:visited, a.wikinav:active {
    background-color: #bcd;
    background: linear-gradient(to bottom, #cde, #abc);
}
a.wikinav:hover {
    background-color: #cde;
    background: linear-gradient(to bottom, #def, #bcd);
}

a.selnav {
    display: block;
    padding: 5px 12px;
    background-color:#B8CFC2;
    background: linear-gradient(to bottom, #acb, #ced);
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}

a.selnav:link {color:#000000;}
a.selnav:visited {color:#000000;}
a.selnav:hover {color:#000000;}
a.selnav:active {color:#000000;}

div.navr { float: right; }

tr.people, tr.comment, tr.puzz, tr.puzz-new, tr.puzz-flag {
    border-top: solid 1px;
    border-bottom: solid 1px;
    text-align: left;
}

tr.test-old {
    border-top: solid 1px;
    border-bottom: solid 1px;
    text-align: left;
    background-color: #383838;
}

tr.puzz { background-color: #DDDDDD; }
tr.puzz-new { background-color: #ffd; }
tr.puzz-flag { background-color: #fdd; }

tr.comment-new {
    border-top: solid 5px;
    border-bottom: solid 5px;
    text-align: left;
}

tr.puzz_head {
    border-top: solid 1px;
    border-bottom: solid 1px;
    font-weight: bold;
}

th.puzzidea {
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-left: none;
    border-right: none;
}

td.puzzidea {
    border-top: solid 1px;
    border-bottom: solid 1px;
}

td.puzzideasecure {
    border-top: solid 1px;
    border-bottom: solid 1px;
    background-color: #000000;
}

.puzzideasummary { background-color: #000000; }

textarea.register {
    width: 500px;
    height: 100px;
}

td.jobs {
    width: 100px;
    text-align: left;
}

td.test {
    padding: 0em 0.5em 0em 0.5em;
}

tr.feedback {
    border-top: solid 1px;
    border-bottom: solid 1px;
}

td.p_info {
    width: 150px;
    text-align: left;
}

td.summ { width: 150px; }

.comment td { word-break: break-word; }
td.AuthorComment { background-color:#E0B4BD; }
td.EditorComment { background-color:#B4C1E0; }
td.ApproverComment { background-color:#22D0E0; }
td.DirectorComment { background-color:#FF8F8F; }
td.EICComment { background-color:#D0ADFF; }
td.CohesionComment { background-color:#ADF2FF; }
td.ServerComment { background-color:#E0E0B4; }
td.LurkerComment { background-color:#B4D8C8; }
td.TestsolverComment { background-color: #FFFFFF; }
td.TestingAdminComment { background-color: #B4E0E0; }
td.FactcheckerComment { background-color: #B4D8C8; }

td.stats {
    padding: 0em 0em 0em 0em;
}

th.puzz-stats, td.puzz-stats {
    background-color: #E0B4BD;
    border: none;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
}

th.approval-ed-stats, td.approval-ed-stats {
    background-color: #B4C1E0;
    border: none;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
}

th.discussion-ed-stats, td.discussion-ed-stats {
    background-color: #E4C4BA;
    border: none;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
}

th.p-stats, td.p-stats {
    background-color: #E0E0B4;
    border: none;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
}

th.t-stats, td.t-stats {
    background-color: #B4E0E0;
    border: none;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
}

th.answer-stats, td.answer-stats {
    background-color: #EFE0E0;
    border: none;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
}


th.complete-stats, td.complete-stats {
    background-color: #B4C1E0;
    border: none;
    padding-bottom: 0.1em;
    padding-top: 0.2em;
}

th.testing-stats, td.testing-stats {
    background-color: #B4E0E0;
    border: none;
    padding-bottom: 0.1em;
    padding-top: 0.2em;
}

th.writing-stats, td.writing-stats {
    background-color: #E0E0B4;
    border: none;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
}

th.pending-stats, td.pending-stats {
    background-color: #E0B4BD;
    border: none;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
}

th.dead-stats, td.dead-stats {
    background-color: #EFEFEF;
    border: none;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
}

th.admin-stats, td.admin-stats {
    background-color: #EFEFEF;
    border: none;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
}

.team-updates {
    background-color: #EFEFEF;
    width: 550px;
    line-height: 1.4;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 1px;
    padding-top: 0px;
    margin-bottom: 12px;
}

.team-updates p {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

p.pad-top { padding-top: 0.5em; }

p.pad-bottom { padding-bottom: 0.5em; }

td.peopleInfo { padding: .25em 0em 0em 0em; }
div.peopleInfo { padding-top: 1em; }

td.tagInfo { padding: .25em 0em 0em 0em; }
div.tagInfo { padding-top: 1em; }

div.statusInfo { padding-top: 1em; }
td.statusInfo { padding: 0em 1em 0em 0em; }

div.creditsInfo { padding-top: 1em; }
td.creditsInfo { padding: 0em 1em 0em 0em; }

div.wikiInfo { padding-top: 1em; }
td.wikiInfo { padding: 0em 1em 0em 0em; }

div.testsolveInfo { padding-top: 1em; }
td.testsolveInfo { padding: 0em 1em 0em 0em; }

div.fileInfo { padding-top: .75em; }

td.fileInfoLatest { padding: .25em 1em 0em 0em; }

td.fileInfoOld { padding: 0.25em 1em 0em 0em; }

.changeLink { font-size: 75%; }

div.comments { padding-top: 2em; }

div.killpuzzle {
    color: #FF0000;
    padding: 0em;

}

td.killpuzzle {
    padding: 0em 1em 0em 0em;
}

td.sd {
    background-color: #F0E8E0;
    width: 100%;
}

.impt { color: red; }

.emptylist {
    font-style: italic;
    color: #666;
}

.msg, .okmsg, .errormsg {
    font-size: 120%;
    padding: 10px;
    margin-bottom: 15px;
}
.msg {
    background-color: #f8f8f8;
    border: 1px solid black;
    font-weight: bold;
}
.okmsg {
    color: #090;
    background-color: #cfc;
    border: 1px solid #090;
}
.errormsg {
    color: #c00;
    background-color: #fcc;
    border: 1px solid #c00;
    font-weight: bold;
}
.warning {
    background-color: #faa;
    padding: 10px;
}

table.boxed { border: 3px solid black; }
.puzzledesc { padding: 5px; background-color: #F0E8E0; margin-bottom: 5px; }
.small { font-size: 75%; }
input.longin { width: 40em; }
input.shortin { width: 3em; }
.testdesc { vertical-align:middle;background-color: #A9D7FF; padding: 5px; display: inline-block; }
.testempty { vertical-align:middle;background-color: #CCC; padding: 5px; display: inline-block; font-style: italic; color: #666; }
.testdata { vertical-align:middle;background-color: #FAD97D; padding: 5px; display: inline-block;}
a.goto { font-size: 108%; font-weight: bold; }
.inlbox { padding: 5px 0; }
.inlform { display: inline; margin-right: 2em; }
.boxedform { border: 1px solid black; background-color: #fafafa; display: inline-block; }
.boxedform p { margin: 1em; }
.boxedform table { margin: 0.5em; }
.corr, .incorr { padding: 0.3em; border-radius: 0.3em; color: white; }
.corr { background-color: #090; }
.incorr { background-color: #c00; }
td.highlightkey { background-color: #E2E9EB; border: 1px solid #999; }
