html {
	margin:0;
	padding:0;
	height:100%;
}

body {
	text-align: left;
	font-family: calibri, 'lucida grande', tahoma, helvetica, arial, verdana, sans-serif;
	color: #000000;
	background-color: #ffffff;
	margin: 0px 40px 0px 50px;
	padding: 0;
	height: 100%;
}

#container {
	min-height: 100%;
	position: relative;
	background-color: #ffffff;
}

#body {
	padding-top:20px;
	padding-bottom: 75px;
}

#footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 75px;
}

.red {
	color:#FF0000;
}

p, h3, table {
	margin: 0;
}

table {
	border-style: none;
	border-collapse: collapse;
}

td {
	border-style: none;
	vertical-align: top;
}

ul.nav {
	display:block;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li.nav {
	float: left;
	display:block;
	margin-right:15px;
	list-style-type: none;
	text-align: left;
}

a.nav {
	display: block;
	padding: 5px;
	font-size: 1.2em;
}

a.nav:link {color:#000000;} 
a.nav:visited {color:#000000;} 
a.nav:hover {color:#FF0000;} 
a.nav:active {color:#000000;} 

a.selnav {
	display: block;
	padding: 5px;
	background-color:#B8CFC2;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
}

a.selnav:link {color:#000000;} 
a.selnav:visited {color:#000000;} 
a.selnav:hover {color:#000000;} 
a.selnav:active {color:#000000;}

tr.people, tr.comment, tr.puzz-new {
	border-top: solid 1px;
	border-bottom: solid 1px;
	text-align: left;
}

tr.test-old {
	border-top: solid 1px;
	border-bottom: solid 1px;
	text-align: left;
	background-color: #383838;
}

tr.puzz {
	border-top: solid 1px;
	border-bottom: solid 1px;
	text-align: left;
	background-color: #DDDDDD;
}

tr.comment-new {
	border-top: solid 5px;
	border-bottom: solid 5px;
	text-align: left;
}

tr.puzz_head {
	border-top: solid 1px;
	border-bottom: solid 1px;
	font-weight: bold;
}

th.puzzidea {
	border-top: solid 1px;
	border-bottom: solid 1px;
	border-left: none;
	border-right: none;
}

td.puzzidea {
	border-top: solid 1px;
	border-bottom: solid 1px;
}

textarea.register {
	width: 500px;
	height: 100px;
}

td.jobs {
	width: 100px;
	text-align: left;
}

td.test {
	padding: 0em 0.5em 0em 0.5em;
}

tr.feedback {
	border-top: solid 1px;
	border-bottom: solid 1px;
}

td.p_info {
	width: 150px;
	text-align: left;
}

td.summ {
	width: 150px;
}

td.AuthorComment {
	background-color:#E0B4BD;
}

td.EditorComment {
	background-color:#B4C1E0;
}

td.ServerComment {
	background-color:#E0E0B4;
}

td.LurkerComment {
	background-color:#B4D8C8;
}

td.TestsolverComment {
	background-color: #FFFFFF;
}

td.TestingAdminComment {
	background-color: #B4E0E0;
}

td.stats {
	padding: 0em 0em 0em 0em;
}

th.puzz-stats, td.puzz-stats {
	background-color: #E0B4BD;
	border: none;
	padding-bottom: 0.1em;
	padding-top: 0.1em;
}

th.ed-stats, td.ed-stats {
	background-color: #B4C1E0;
	border: none;
	padding-bottom: 0.1em;
	padding-top: 0.1em;
}

th.p-stats, td.p-stats {
	background-color: #E0E0B4;
	border: none;
	padding-bottom: 0.1em;
	padding-top: 0.1em;
}

th.t-stats, td.t-stats {
	background-color: #B4E0E0;
	border: none;
	padding-bottom: 0.1em;
	padding-top: 0.1em;
}

th.complete-stats, td.complete-stats {
	background-color: #B4C1E0;
	border: none;
	padding-bottom: 0.1em;
	padding-top: 0.2em;
}

th.testing-stats, td.testing-stats {
	background-color: #B4E0E0;
	border: none;
	padding-bottom: 0.1em;
	padding-top: 0.2em;
}

th.writing-stats, td.writing-stats {
	background-color: #E0E0B4;
	border: none;
	padding-bottom: 0.1em;
	padding-top: 0.1em;
}

th.pending-stats, td.pending-stats {
	background-color: #E0B4BD;
	border: none;
	padding-bottom: 0.1em;
	padding-top: 0.1em;
}

th.dead-stats, td.dead-stats {
	background-color: #EFEFEF; 
	border: none;
	padding-bottom: 0.1em;
	padding-top: 0.1em;
}

th.admin-stats, td.admin-stats {
	background-color: #EFEFEF; 
	border: none;
	padding-bottom: 0.1em;
	padding-top: 0.1em;
}

.team-updates {
	background-color: #EFEFEF;
	width: 550px;
	line-height: 1.4;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 1px;
	padding-top: 0px;
	margin-bottom: 12px;
}

.team-updates p {
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}

p.pad-top {
	padding-top: 0.5em;
}

p.pad-bottom {
	padding-bottom: 0.5em;
}

td.peopleInfo {
	padding: .25em 0em 0em 0em;
}

div.peopleInfo {
	padding-top: 1em;
}

div.statusInfo {
	padding-top: 1em;
}

td.statusInfo {
	padding: 0em 1em 0em 0em;
}

div.fileInfo {
	padding-top: .75em;
}

td.fileInfoLatest {
	padding: .25em 1em 0em 0em;
}

td.fileInfoOld {
	padding: 0.25em 1em 0em 0em;
}

.changeLink {
	font-size: 75%;
}

div.comments {
	padding-top: 2em;
}

td.sd {
	background-color: #F0E8E0;
	width: 100%;
}
