*~
/secret.php
/config.php
/config-prod.php
/config-dev.php
/config-prac.php
/uploads/*
/mmblanche/*
puzzletron-keytab
.vagrant
vendor/autoload.php
vendor/composer/autoload_*.php
vendor/.git
vendor/ezyang/htmlpurifier/.git
