<?php // vim:set ts=4 sw=4 sts=4 et:
require __DIR__ . "/vendor/autoload.php";

# Used for sessions. Default location is bad because all PHP
# scripts running on the same server will clean up sessions
# with the default session lifetimes, rather than the one
# specified below.
#
# Also used for KRB5CCNAME when managing moira lists.
define("TMPDIR", "/mit/puzzle/web_scripts_tmp/2015puzzletron");

ini_set('default_charset', 'UTF-8');
ini_set('session.gc_maxlifetime','86400');
ini_set('session.cookie_lifetime','86400');
ini_set('session.save_path', TMPDIR);

session_start();

//stuff you probably don't need to change
define("SELF", "$_SERVER[PHP_SELF]");
define("PICPATH", "uploads/pictures/"); // Path for user pictures
define("DB_NAME", "puzzletron");
define("HTMLPURIFIER_CACHE_PATH", "uploads/purifier-cache");

//server mode
define("DEVMODE", FALSE);
define("PRACMODE", FALSE);

//urls and email addresses for your team
define("PTRON_FROM_EMAIL", "no-reply@blahblahblah.org");
define("URL", "https://blahblahblah.org/editing");
define("POSTPROD_URLPREFIX", "https://xxxmysteryhunt.com/");
define("PHPMYADMIN_URL", "https://scripts.mit.edu/~sql/phpMyAdmin/");
define("HELP_EMAIL", "systems-help@blahblahblah.org");
define("WIKI_URL", "https://blahblahblah.org/wiki");
define("BUGTRACK_URL", "https://github.com/mysteryhunt/puzzle-editing/issues");

//puzzletron options
define("TRUST_REMOTE_USER", FALSE); // Use internal puzzletron authentication
                                    // This is if you're behind an SSO system / apache proxy that does auth
define("ALLOW_TESTSOLVE_PICK", TRUE); // Display list of puzzles for testsolvers to pick from
define("ALLOW_EDITOR_PICK", TRUE); // Display list of puzzles for editors to pick from
define("MIN_EDITORS", 2); // Used in conjunction with ALLOW_EDITOR_PICK.
define("MIN_APPROVERS", 2); // Used in conjunction with ALLOW_EDITOR_PICK and USING_APPROVERS

//puzzletron feature sets
define("USING_TESTSOLVE_REQUESTS", FALSE);
define("USING_TESTSOLVE_TEAMS", FALSE);
define("USING_ROUND_CAPTAINS", FALSE);
define("USING_APPROVERS", FALSE);
define("USING_CREDITS", FALSE);

// USING_AWS affects:
// html.php line 151: link to author thumbnails from the thumbs bucket in S3
// puzzle.php line 979: link to filelists in S3
// puzzle.php line 1188: YOLO substitution of S3 bucket URL for upload URL in comment bodies?
// test.php line 123: link to drafts from s3 bucket
// utils-pic.php: move uploaded pics and thumbs into S3
// utils.php: copies uploaded file attachments (like drafts) to S3
define("USING_AWS", FALSE);

define("ENABLE_WRITING_WIKI", FALSE);
define("ANON_TESTERS", FALSE);
define("USING_CODENAMES", TRUE);

define("MAILING_LISTS", TRUE);
define("GET_KEYTAB", "kinit -k -t KEYTAB_FILE PRINCIPAL");
define("MMBLANCHE_CMD", "athrun consult mmblanche");
define("MMBLANCHE_PASSWORDS", "PASSWORD_DIR");
define("EDITOR_MAILING_LIST", "EDITOR_LIST");

$mailing_lists = array(
    "LIST" => "DESCRIPTION",
);

//when is hunt
define("HUNT_YEAR",2014);
define("HUNT_DOM",17);
date_default_timezone_set('America/New_York');
?>
