<?php // vim:set ts=4 sw=4 sts=4 et:
require __DIR__ . "/vendor/autoload.php";

# Used for sessions. Default location is bad because all PHP
# scripts running on the same server will clean up sessions
# with the default session lifetimes, rather than the one
# specified below.
#
# Also used for KRB5CCNAME when managing moira lists.
define("TMPDIR", "/mit/puzzle/web_scripts_tmp/2015puzzletron");

ini_set('default_charset', 'UTF-8');
ini_set('session.gc_maxlifetime','86400');
ini_set('session.cookie_lifetime','86400');
ini_set('session.save_path', TMPDIR);

session_start();

//stuff you probably don't need to change
define("SELF", "$_SERVER[PHP_SELF]");
// The PICPATH needs some fixing; it currently serves as:
//  - part of the path for local picture files
//  - part of the URL for picture downloads
//  - part of the object name and URL for Amazon S3 uploads of pictures
define("PICPATH", "uploads/pictures/"); // Path for user pictures
// Which database to use.
define("DB_NAME", "puzzletron");
// An Apache-writable directory where HTMLPurifier can stash its cache.
define("HTMLPURIFIER_CACHE_PATH", "uploads/purifier-cache");

//server mode
// These two settings do nothing but change the site title display and the subject
// lines of outgoing emails.
define("DEVMODE", FALSE);
define("PRACMODE", FALSE);

//urls and email addresses for your team
// Who emails come from
define("PTRON_FROM_EMAIL", "no-reply@blahblahblah.org");
// Top-level URL of this site as deployed; used in all kinds of links and redirects.
define("URL", "https://blahblahblah.org/editing");
// Top-level URL of the postproduction site, used to generate links to puzzles in postprod.
define("POSTPROD_URLPREFIX", "https://xxxmysteryhunt.com/");
// An alternative postprod URL. There's some duct-tape hackery in
// puzzle.php which decides which gets used.
define("POSTPROD_BETA_URLPREFIX", "https://xxxmysteryhunt.com/");
// This appears in one link on the site admin page.
define("PHPMYADMIN_URL", "https://scripts.mit.edu/~sql/phpMyAdmin/");
// Error pages and the like ask the unhappy user to email this address:
define("HELP_EMAIL", "systems-help@blahblahblah.org");
// This appears as the target of the Wiki link in the navbar.
define("WIKI_URL", "https://blahblahblah.org/wiki");
// This appears at the bottom of the homepage.
define("BUGTRACK_URL", "https://github.com/mysteryhunt/puzzle-editing/issues");

// Define these to use Mailgun for outgoing email.
define('MAILGUN_API_URL', "");
define('MAILGUN_API_KEY', "");

//puzzletron options
// The TRUST_REMOTE_USER option might be broken and should not be trusted.
// Its odds of going away are high.
define("TRUST_REMOTE_USER", FALSE); // Use internal puzzletron authentication
                                    // This is if you're behind an SSO system / apache proxy that does auth
define("ALLOW_TESTSOLVE_PICK", TRUE); // Display list of puzzles for testsolvers to pick from
define("ALLOW_EDITOR_PICK", TRUE); // Display list of puzzles for editors to pick from
define("MIN_EDITORS", 2); // Used in conjunction with ALLOW_EDITOR_PICK.
define("MIN_APPROVERS", 2); // Used in conjunction with ALLOW_EDITOR_PICK and USING_APPROVERS

//puzzletron feature sets
define("USING_TESTSOLVE_REQUESTS", FALSE);
define("USING_TESTSOLVE_TEAMS", FALSE);
define("USING_ROUND_CAPTAINS", FALSE);
define("USING_APPROVERS", FALSE);
define("USING_CREDITS", FALSE);

// USING_AWS affects:
// html.php line 151: link to author thumbnails from the thumbs bucket in S3
// puzzle.php line 979: link to filelists in S3
// puzzle.php line 1188: YOLO substitution of S3 bucket URL for upload URL in comment bodies?
// test.php line 123: link to drafts from s3 bucket
// utils-pic.php: move uploaded pics and thumbs into S3
// utils.php: copies uploaded file attachments (like drafts) to S3
define("USING_AWS", FALSE);

define("ANON_TESTERS", FALSE);
// This feature does not appear to be working at the moment; codenames are never written?
define("USING_CODENAMES", TRUE);

// MIT-specific features
define("MAILING_LISTS", TRUE);
define("GET_KEYTAB", "kinit -k -t KEYTAB_FILE PRINCIPAL");
define("MMBLANCHE_CMD", "athrun consult mmblanche");
define("MMBLANCHE_PASSWORDS", "PASSWORD_DIR");
define("EDITOR_MAILING_LIST", "EDITOR_LIST");
$mailing_lists = array(
    "LIST" => "DESCRIPTION",
);

//date of the next hunt - used to run the countdown on the home page
define("HUNT_YEAR",2014);
// here, DOM = "Day of Month" - that month is January, of course
define("HUNT_DOM",17);
date_default_timezone_set('America/New_York');

