<?php
        define('DB_USER', 'puzzletron');
        define('DB_PASS','s3kr1t');
        define('DB_SERVER', 'localhost');


	define('AWS_ACCESS_KEY','ACCESS');
	define('AWS_SECRET_KEY','SECRET');
	define('AWS_BUCKET','hunt-bucket');
?>
