<?php
define('DB_USER', '{{ site.db_username }}');
define('DB_PASS','{{ site.db_password }}');
define('DB_SERVER', '{{ site.db_host }}');

define('AWS_ACCESS_KEY','ACCESS');
define('AWS_SECRET_KEY','SECRET');
define('AWS_BUCKET','hunt-bucket');

