<?php
define('DB_USER', '{{ site_db_username }}');
define('DB_PASS','{{ site_db_password }}');
define('DB_SERVER', '{{ site_db_host }}');

define('AWS_ACCESS_KEY','ACCESS');
define('AWS_SECRET_KEY','SECRET');
define('AWS_BUCKET','hunt-bucket');

